*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border{
    border-width: 3x;
    border-style: hidden;
}

header{
    width: 100%;
    height: 150px;
}

#nav{
    position: sticky;
    top: 0; 
    width: 110%;
    height: 70;
	padding: 0;
    z-index: 9000; 
    background-color: rgb(0, 178, 237);
    display: block;  
    float: left; 
    left: 0;
    right: 0; 
}

#logo{
    float: left;
    margin:6px 7px;
}

#nav ul{
    margin-top: 12px;
    list-style-type:none;
    text-align: center;
    position: relative; 
    display: inline-block; 
}

#nav ul a{
    padding: 10px; 
    color:whitesmoke;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 15px;
}

#nav ul a:hover{
    color: #069;
}

#nav ul a:active{
    color: darkgray;
}

#nav ul a li{
    display: inline-block;
    margin:10px 10px;
}

#nav li{
	float: left; 
}

#nav li a{
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	color: #fff;
}

#nav li a:hover{
    padding: 10px 10px;
    color: #069;
	background-color: #fff; 
}

main{
    width: 100%;
    height: 150px; 
    background-color: white; 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center; 
}

body {
    background-color: #fff; 
}

main{
    width: 100%;
    height: 150px; 
    background-color: white; 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center; 
}

.fling-minislide {
    width:100%; 
    height:0px; 
    margin:50px; 
    padding-bottom: 50%; 
    overflow:hidden; 
    position:relative;
}
.fling-minislide img{ 
    position:absolute; 
    animation:fling-minislide 40s infinite; 
    opacity:0; 
    width: 90%; 
    height: 520px;
}
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(5){animation-delay:35s;}
.fling-minislide img:nth-child(4){animation-delay:25s;}
.fling-minislide img:nth-child(3){animation-delay:20s;}
.fling-minislide img:nth-child(2){animation-delay:15s;}
.fling-minislide img:nth-child(1){animation-delay:0s;}

.heroText{
    height: 100px;
    position: static;
    float: left; 
    color: #069; 
}
.herotext h1{
    font-size: 100px; 
}
.heroText p{
    font-size: 12px;
    line-height: normal;
    text-align: left; 
}
p{
    margin: 8px;
    display: block;
    line-height: normal;
    float: left; 
}

.column {
    float: left;
    width: 32.5%;
    padding: 3px;
    margin: 3.5px; 
}

.row::after {
    content: "";
    clear: both;
    display: table;
    float: left; 
    padding-bottom: 25px; 
}

#footer{
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0;  
    font-size: 6px; 
    text-align: center; 
    color: #069; 
    clear: both; 
}

.icon-wrapper {
    display: grid;
    justify-content: center; 
    flex-wrap: wrap; 
    column-gap: 2px; 
    grid-template-columns: auto auto auto auto;
}
.icon-column {
    float: left; 
    margin: auto;
    padding: 0px;
    bottom: 0; 
}
.media-icon {
    float: left;
    padding: 0px;
    width: 33%;
    height: 20px; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0; 
  }