@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.border{
    border-width: 3x;
    border-style: hidden;
}

header{
    width: 100%;
    height: 15px;
}

#nav{
    position: absolute;
    top: 0; 
    width: 110%;
    height: 70;
	padding: 0;
    z-index: 9000; 
    background-color: rgb(0, 178, 237);
    display: block;  
    float: left; 
    left: 0;
    right: 0; 
}

#logo{
    float: left;
    margin:6px 7px;
}

#nav ul{
    margin-top: 12px;
    list-style-type:none;
    text-align: center;
    position: relative; 
    display: inline-block; 
}

#nav ul a{
    padding: 10px; 
    color:whitesmoke;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 15px;
}

#nav ul a:hover{
    color: #069;
}

#nav ul a:active{
    color: darkgray;
}

#nav ul a li{
    display: inline-block;
    margin:10px 10px;
}

#nav li{
	float: left; 
}

#nav li a{
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	color: #fff;
}

#nav li a:hover{
    padding: 10px 10px;
    color: #069;
	background-color: #fff; 
}

main{
    width: 100%;
    height: 150px; 
    background-color: white; 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: left; 
    padding-left: 8px;
}

body {
    background-color: #fff; 
}

.heroText{
    margin-top: 80px;
    height: 100px;
    position: absolute;
    float: left; 
    color: #069; 
}
.herotext h2{
    font-size: 60px; 
}
.heroText p{
    font-size: 12px;
    line-height: normal;
    text-align: left; 
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    color:#069; 
}
  
input[type=submit] {
    background-color: #069;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: rgb(94, 201, 255);
}
  
.contactform {
    margin-bottom: 10px; 
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
    color: #069;
}

.mapouter{
    margin-top: 15px; 
    margin-left: 230px; 
    margin-bottom: 15px; 
    position:relative;
    text-align:right;
    height:300px;
    width:400px;
}

#footer{
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0;  
    font-size: 6px; 
    text-align: center; 
    color: #069; 
    clear: both; 
}
.icon-wrapper {
    display: grid;
    justify-content: center; 
    flex-wrap: wrap; 
    column-gap: 2px; 
    grid-template-columns: auto auto auto auto;
}
.icon-column {
    float: left; 
    margin: auto;
    padding: 0px;
    bottom: 0; 
}
.media-icon {
    float: left;
    padding: 0px;
    width: 33%;
    height: 20px; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0; 
  }