@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.border{
    border-width: 3x;
    border-style: hidden;
}

header{
    width: 100%;
    height: 15px;
}

#nav{
    position: absolute;
    top: 0; 
    width: 110%;
    height: 70;
	padding: 0;
    z-index: 9000; 
    background-color: rgb(0, 178, 237);
    display: block;  
    float: left; 
    left: 0;
    right: 0; 
}

#logo{
    float: left;
    margin:6px 7px;
}

#nav ul{
    margin-top: 12px;
    list-style-type:none;
    text-align: center;
    position: relative; 
    display: inline-block; 
}

#nav ul a{
    padding: 10px; 
    color:whitesmoke;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 15px;
}

#nav ul a:hover{
    color: #069;
}

#nav ul a:active{
    color: darkgray;
}

#nav ul a li{
    display: inline-block;
    margin:10px 10px;
}

#nav li{
	float: left; 
}

#nav li a{
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	color: #fff;
}

#nav li a:hover{
    padding: 10px 10px;
    color: #069;
	background-color: #fff; 
}

main{
    width: 100%;
    height: 380px; 
    background-color: white; 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center; 
}

body {
    background-color: #fff; 
}
/* video */ 
.center {
    padding: 15px; 
    text-align: center;
    background-color: #fff; 
}
/* ticket buttons */ 
.button {
  background-color: #069;
  float: left; 
  clear: both; 
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
  
.button:hover {
  background-color: rgb(0, 165, 253);
  color:#fff
}

.column {
  background-color: #fff; 
  float: left;
  width: 50%;
  padding: 15px;
  text-decoration: none;
  height: 380px;
}
.row {
    background-color: #fff; 
    padding: 7px; 
    color:#069; 
    font-size: small;
    text-align: left; 
}

#footer{
    background-color: #fff; 
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0;  
    font-size: 6px; 
    text-align: center; 
    color: #069; 
    clear: both; 
}
.icon-wrapper {
    background-color: #fff; 
    display: grid;
    justify-content: center; 
    flex-wrap: wrap; 
    column-gap: 2px; 
    grid-template-columns: auto auto auto auto;
}
.icon-column {
    background-color: #fff; 
    float: left; 
    margin: auto;
    padding: 0px;
    bottom: 0; 
}
.media-icon {
    float: left;
    padding: 0px;
    width: 33%;
    height: 20px; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0; 
  }