*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border{
    border-width: 3x;
    border-style: hidden;
}

header{
    width: 100%;
    height: 150px;
}

#nav{
    position: absolute;
    top: 0; 
    width: 110%;
    height: 70;
	padding: 0;
    z-index: 9000; 
    background-color: rgb(0, 178, 237);
    display: block;  
    float: left; 
    left: 0;
    right: 0; 
}

#logo{
    float: left;
    margin:6px 7px;
}

#nav ul{
    margin-top: 12px;
    list-style-type:none;
    text-align: center;
    position: relative; 
    display: inline-block; 
}

#nav ul a{
    padding: 10px; 
    color:whitesmoke;
    text-transform: uppercase;
    text-decoration:none;
    font-size: 15px;
}

#nav ul a:hover{
    color: #069;
}

#nav ul a:active{
    color: darkgray;
}

#nav ul a li{
    display: inline-block;
    margin:10px 10px;
}

#nav li{
	float: left; 
}

#nav li a{
	display: block;
	padding: 10px 10px;
	text-decoration: none;
	color: #fff;
}

#nav li a:hover{
    padding: 10px 10px;
    color: #069;
	background-color: #fff; 
}

main{
    width: 100%;
    height: 420px; 
    background-color: white; 
    background-repeat: no-repeat;
    background-size: cover; 
    text-align: center; 
}

body {
    background-color: #fff; 
}

.typewriter body {
    background: #fff;
    padding-top: 5em;
    display: flex;
    justify-content: center;
}
.typewriter h1 {
    color: #069;
    font-size: 50px; 
    text-align: center; 
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #069; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
} 
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
} 
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #069 }
}
/* Staff profile section */
h2 {
    color: #069;
    font-size: 25px; 
    text-align: center; 
}
h3 {
    color: skyblue;
    font-size: 15px; 
    text-align: center; 
}

.column {
    float: left;
    width: 33%;
    padding: 15px;
    text-decoration: none;
    height: 1280px;
}

img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    padding: 7px; 
    color:#069; 
    font-size: small;
    text-align: left; 
}
  
#footer{
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0;  
    font-size: 6px; 
    text-align: center; 
    color: #069; 
    clear: both; 
}

.icon-wrapper {
    display: grid;
    justify-content: center; 
    flex-wrap: wrap; 
    column-gap: 2px; 
    grid-template-columns: auto auto auto auto;
}
.icon-column {
    float: left; 
    margin: auto;
    padding: 0px;
    bottom: 0; 
}
.media-icon {
    float: left;
    padding: 0px;
    width: 33%;
    height: 20px; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
    position: static; 
    margin: 0;
    left: 0; 
    bottom: 0; 
    padding: 0; 
  }